//- extends ../index
block variables
    - var pageTitle = 'Form Elements'

block content

    include ../../ui-kit/header-block/header-block.pug
    include ../../ui-kit/text-field/text-field.pug
    include ../../ui-kit/dropdown/dropdown.pug
    include ../../ui-kit/date-default/date-default.pug
    include ../../ui-kit/date-dropdown/date-dropdown.pug
    include ../../ui-kit/subscription-text-field/subscription-text-field.pug
    include ../../ui-kit/checkbox-list/checkbox-list.pug
    include ../../ui-kit/room-information/room-information.pug
    include ../../ui-kit/checkbox-buttons/checkbox-buttons.pug
    include ../../ui-kit/radio-buttons/radio-buttons.pug
    include ../../ui-kit/toggle-button/toggle-button.pug
    include ../../ui-kit/like-button/like-button.pug
    include ../../ui-kit/rate-button/rate-button.pug
    include ../../ui-kit/rich-checkbox-button/rich-checkbox-button.pug
    include ../../ui-kit/bullet-list/bullet-list.pug
    include ../../ui-kit/range-slider/range-slider.pug     
    include ../../ui-kit/button/button.pug    
    include ../../ui-kit/pagination/pagination.pug
    include ../../ui-kit/comments/comments.pug

      
    .form-elements
        .form-elements__grid
            .form-elements__text-field
                +text-field({
                    headerTitle: 'Text Field',
                    headerText: 'default'
                })                
                +dropdown({
                    elems: ['Взрослые', 'Дети', 'Младенцы'],
                    classItem: 'dropdown-number-of-guests'
                })   
                +date-default
                +date-dropdown({className: 'date-dropdown-default', text: 'ДД.ММ.ГГГГ'})
                +date-dropdown({className: 'date-dropdown-default', text: '19.08.2019'})
                +date-dropdown({className: 'filter-date-dropdown', text: '19 авг - 23 авг'})
                +subscription-text-field
            
            .form-elements__check-buttons
                +checkbox-buttons({
                    listButtons: [
                    {name: 'Можно курить', check: false},
                    {name: 'Можно с питомцами', check: true},
                    {name: 'Можно пригласить гостей (до 10 человек)', check: true}
                    ]
                })
                +radio-buttons
                +toggle-button({headerTitle: 'toggle'})
                +toggle-button({isActive: false})
                +like-button({headerTitle: 'like button'})
                +like-button--Active
                +rate-button
            .form-elements__buttons
                +range-slider({headerTitle: 'range slider'})      
                +button({headerTitle: 'button', className: 'btnBackground'})
                +button({className: 'btnBorder'})
                +button
                +button({
                    text: 'перейти к оплате',
                    arrow: true
                })
                +pagination({
                    links: [
                    {href: 'mock-address/change-me', number: 1, isActive: true },
                    {href: 'mock-address/change-me', number: 2 },
                    {href: 'mock-address/change-me', number: 3 },
                    {href: 'mock-address/change-me', number: 15 },
                    ]
                })
                
            .form-elements__dropdownLeft
                +dropdown({
                    titleText: '2 спальни, 2 кровати...',
                    elems: ['Спальни', 'Кровати', 'Ванные комнаты'],
                    classItem: 'dropdown-room-amenities'
                })
                +checkbox-list({
                    menuList: [
                    {name: 'Завтрак', check: false},
                    {name: 'Письменный стол', check: true},
                    {name: 'Стул для кормления', check: true},
                    {name: 'Кроватка', check: true},
                    {name: 'Телевизор', check: false},
                    {name: 'Шампунь', check: false},
                    {name: 'Телевизор', check: false},
                    {name: 'Шампунь', check: false},
                    ],
                })
                
            .form-elements__dropdownMid
                +rich-checkbox-button({
                    headerTitle: 'rich-checkbox-button',
                    richCheckboxButton: [
                    {richTitle: 'Широкий коридор', richText: 'Ширина коридоров в номере не менее 91 см.'},
                    {richTitle: 'Помощник для инвалидов', richText: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
                ]
                })
            .form-elements__dropdownRight
                +bullet-list({
                    headerTitle: 'bullet-list',
                    bulletList: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'],
                })
            .form-elements__bot-left
                +room_information
                +room_information({iconName: 'location_city', titleRoom: 'Удобство', textRoom: 'Окно в каждой из спален'})
            .form-elements__comment
                +comments({
                    avatarSrc: './src/img/avatar.png',
                    avatarAlt: 'Avatar',
                    userName: 'Мурад Сарафанов',
                    date: '5 дней назад',
                    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })