@import "../pug/ui-kit/material-icons/material-icons.scss";
.form-elements {
    display: flex;
    justify-content: center;
    align-items: center;

    &__flex {
        display: flex;
        justify-content: space-between;        
        max-width: 320px;
        width: 100%;
    }
    &__item {
        margin-top: 10px;
    }

    &__flex-col {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        width: 100%;        
    }

    .mt {
        margin-top: 50px;
    }

    .btn-mb {
        margin-bottom: 30px;
    }

    &__grid {
        display: grid;
        max-width: 1440px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'textfield     check-buttons   buttons'
                             'dropdown-left dropdown-mid    dropdown-right'
                             'bot-left      comment         comment';
        grid-row-gap: 100px;
        grid-column-gap: 50px;

        @media (max-width: 1160px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 'textfield     check-buttons'
                                 'buttons       dropdown-right'
                                 'dropdown-left dropdown-mid'
                                 'bot-left      comment';
            grid-row-gap: 30px;          
            padding-left: 10px;
        }

        @media (max-width: 618px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto auto;
            grid-template-areas: 'textfield'
                                 'check-buttons'
                                 'buttons'
                                 'dropdown-right'
                                 'dropdown-left'
                                 'dropdown-mid'
                                 'bot-left'
                                 'comment';
            grid-row-gap: 0px;
        }
    }
    
    &__text-fields {
        grid-area: textfield;
    }
    &__ckeck-buttons {
        grid-area: ckeck-buttons;
    }
    &__buttons {
        grid-area: buttons;
    }
    &__dropdownLeft {
        grid-area: dropdown-left;
    }
    &__dropdownMid {
        grid-area: dropdown-mid;
    }
    &__dropdownRight {
        grid-area: dropdown-right;
    }
    &__bot-left {
        grid-area: bot-left;
    }
    &__comment {
        grid-area: comment;
        @media (max-width: 618px) {
            padding-top: 20px;
        }
    }

    &__item .d-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &__mr {
            margin-right: 20px;
        }
    }
}