//colors
$dark-shade:                #1F2041;
$dark-shade--light:         rgba(31, 32, 65, 0.75);
$dark-shade--lighten:       rgba(31, 32, 65, 0.5);
$dark-shade--lightest:      rgba(31, 32, 65, 0.25);
$dark-shade--white:         rgba(31, 32, 65, 0.05);
$purple:                    #BC9CFF;
$green:                     #6FCF97;
$white:                     #FFFFFF;
$dark-shade--transparent:   rgba(31, 32, 65, 0.25);
$dark-shade--translucent:   rgba(31, 32, 65, 0.75);
//ui-kit colors
$main-bg: #f4f4f6;
//font size
$font-size--big:            24px;
$font-size--medium:         19px;
$font-size--small:          12px;
$font-size--base:           14px;
// fonts
$mainFont: 'Montserrat-Regular', OpenSans, sans-serif;
$titleFont: 'Quicksand-Regular', OpenSans, sans-serif;
//material icons
$material-icons-font-path: '~material-icons/iconfont/';
$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;




