@font-face {
    font-family: "Montserrat-Regular";
    src: url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: "Quicksand-Regular";
    src: url('/assets/fonts/Quicksand-Regular/Quicksand-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Quicksand-Regular/Quicksand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Quicksand-Regular/Quicksand-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}