@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand-Regular/Quicksand-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Quicksand-Regular/Quicksand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Quicksand-Regular/Quicksand-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand-Bold/Quicksand-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Quicksand-Bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Quicksand-Bold/Quicksand-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans/opensans-regular-webfont.eot');
    src: url('../fonts/OpenSans/opensans-regular-webfont.woff2') format('woff2'), 
        url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff'), 
        url('../fonts/OpenSans/opensans-regular-webfont.ttf') format('truetype'), 
        url('../fonts/OpenSans/opensans-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans/opensans-bold-webfont.eot');
    src: url('../fonts/OpenSans/opensans-bold-webfont.woff2') format('woff2'), 
            url('../fonts/OpenSans/opensans-bold-webfont.woff') format('woff'), 
            url('../fonts/OpenSans/opensans-bold-webfont.ttf') format('truetype'), 
            url('../fonts/OpenSans/opensans-bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}