@import "_var";
@import "mixins";
// @import "normalize";
@import '~material-icons/iconfont/material-icons.scss';
@import "../pug/includes/header-ui"; // header UI- kit
// @import "../pug/ui-kit/header_footer/header_footer.scss"; //header & footer
// @import "../pug/ui-kit/color_type/color_type.scss";
// @import "media";
@import "../pug/includes/block-descr.scss";
@import "../pug/ui-kit/text-field/text-field.scss";
@import "../pug/ui-kit/dropdown/dropdown.scss";
@import "../pug/ui-kit/date-default/date-default.scss";
@import "../pug/ui-kit/date-dropdown/date-dropdown.scss";
@import "../pug/ui-kit/subscription-text-field/subscription-text-field.scss";
@import "../pug/ui-kit/checkbox-list/checkbox-list.scss";
@import "../pug/ui-kit/room-information/room-information.scss";
@import "../pug/ui-kit/checkbox-buttons/checkbox-buttons.scss";
@import "../pug/ui-kit/radio-buttons/radio-buttons.scss";
@import "../pug/ui-kit/toggle-button/toggle-button.scss";
@import "../pug/ui-kit/like-button/like-button.scss";
@import "../pug/ui-kit/rate-button/rate-button.scss";
@import "../pug/ui-kit/rich-checkbox-button/rich-checkbox-button.scss";
@import "../pug/ui-kit/bullet-list/bullet-list.scss";

// .material-icons {
//     @include material-icons();
// }
a {text-decoration: none;}
ul {list-style: none; margin: 0; padding: 0;}
p {margin: 0;padding: 0;}
body {
    height: 3000px;
    background-color: $white;

}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    // height: 100%;
}
.wrapper {
    max-width: 1440px;
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;  
    font-family: $mainFont;
    box-sizing: border-box;
    background-color: $white;
}



