@import "_var";
@import "fonts";

body {
    font-family: $mainFont;
    background-color: $white;
}
.content-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
}