@import "_var";
@import "mixins";
@import "normalize";
@import '~material-icons/iconfont/material-icons.scss';
@import "../pug/includes/header-ui"; // header UI- kit
@import "../pug/ui-kit/header_footer/header_footer.scss"; //header & footer
// @import "../pug/ui-kit/color_type/color_type.scss";
.material-icons {
    @include material-icons();
}
a {text-decoration: none;}
ul {list-style: none;}
body {
    background-color: $main-bg;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.wrapper {
    max-width: 1440px;
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;  
    font-family: $mainFont;
    box-sizing: border-box;
    background-color: $white;

}
