mixin material-icons({ type='material icon symbol', color, }={})
    - let colorModifier = ''

    case color
        when 'dark-shade'
            - colorModifer = 'material-icons__color-dark-shade'

    i.material-icons(class=`${colorModifier}`)= type

