mixin like-button-active
    .like-button(style="border-color: #BC9CFF")
        .like-button__heart
            <svg class="heart" style="display: block">
                <use xlink:href="../src/img/sprite.svg#favorite" x="5" y="6"></use>
            </svg>
        .like-button__count(style="color: #BC9CFF") 12