@import "_var";
// number-of-guests 
// amenities-room 
.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    width: 100%;
    height: 44px;    
    font-size: $font-size--base;
    line-height: 24px;
    color: $dark-shade--light;
    border: 1px solid $dark-shade--lightest;
    border-radius: 4px;
    box-sizing: border-box;

    &-active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__text {
        display: block;
        padding: 13px 0 13px 15px;        
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: $dark-shade--lighten;
    }
    &__menu {
        position: absolute;
        top: 42px;
        left: -1px;
        display: none;
        flex-direction: column;
        max-width: 320px;
        width: 100%;
        font-family: $mainFont--bold;
        font-size: $font-size--small;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-shade;
        border: 1px solid $dark-shade--lightest;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: $white;
        // box-sizing: border-box;
        z-index: 99;

        &-active {
            display: flex;            
        }

        &-item {
            display: flex;
            justify-content: space-between;
            padding-left: 15px;
            padding-bottom: 6px;
            
            &:first-child {
                padding-top: 13px;
            }

            &-text {              
                align-self: center;
            }//text

            &-count {
                display: flex;
                align-items: center;
                
                .btn-minus, .btn-plus {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 10px;
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                    line-height: 22px;
                    color: $dark-shade--lighten;
                    text-align: center;
                    border: 1px solid $dark-shade--lightest;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .count-number {
                    font-size: $font-size--small;
                    line-height: 15px;
                    text-align: center;
                    color: $dark-shade;
                }
            }
        }//item
        .drop__menu-btn {
            align-self: flex-end;
            padding: 20px 7px 13px 0;
            font-size: $font-size--small;
            line-height: 15px;
            color: $purple;
        }
    }//menu
}