mixin dropdown({titleText = 'Сколько гостей', elems = [], classItem, dataName,} = {})
    .dropdown.js-dropdown(class= classItem, data-dropdown-name= dataName)     
        span.dropdown__text.js-dropdown__text=titleText
        span.dropdown__link.js-dropdown__link
            span(class="material-icons") keyboard_arrow_down   
        .dropdown__menu.js-dropdown__menu
            each elem in elems
                .dropdown__menu-item
                    p.dropdown__menu-text.js-dropdown__menu-text #{elem}
                    p.dropdown__menu-count
                        span.dropdown__menu-count-btn.minus.js-minus -
                        span.count-number.js-count-number 0
                        span.dropdown__menu-count-btn.plus.js-plus +
            .dropdown__menu-btns
                span.dropdown__menu-clear.js-dropdown__menu-clear Очистить
                span.dropdown__menu-apply.js-dropdown__menu-apply Применить
