-
    var people = ['Взрослые', 'Дети', 'Младенцы']
    var room =  ['Спальни', 'Кровати', 'Ванные комнаты']

mixin dropdown(elems)
    .dropdown.number-of-guests
        span.dropdown__text Сколько гостей
        a.dropdown__link(href="#")
            span(class="material-icons") keyboard_arrow_down
        .dropdown__menu
            each elem in elems
                .dropdown__menu-item
                    p.dropdown__menu-item-text #{elem}
                    p.dropdown__menu-item-count
                        span.btn-minus -
                        span.count-number 0
                        span.btn-plus +
            a.drop__menu-btn(href="#") Применить
                
