-
    var people = ['Взрослые', 'Дети', 'Младенцы']
    var room =  ['Спальни', 'Кровати', 'Ванные комнаты']


mixin dropdown(elems)
    .dropdown
        span.dropdown__text 
        a.dropdown__link(href="#")
            span(class="material-icons") keyboard_arrow_down
        .dropdown__menu
            each elem in elems
                .dropdown__menu-item
                    p.text #{elem}
                    p.count-box
                        span.count-box__minus -
                        span.count-box__number 0
                        span.count-box__plus +
            a.drop__menu-btn Применить
                
