mixin dropdown({titleText = 'Сколько гостей', elems = [], classItem} = {})
    .dropdown(class= classItem)               
        span.dropdown__text=titleText
        a.dropdown__link(href="#")
            span(class="material-icons") keyboard_arrow_down   
        .dropdown__menu
            each elem in elems
                .dropdown__menu-item
                    p.dropdown__menu-text #{elem}
                    p.dropdown__menu-count
                        span.dropdown__menu-count-btn.minus -
                        span.count-number 0
                        span.dropdown__menu-count-btn.plus +
            .dropdown__menu-btns
                a.dropdown__menu-clear(href="#") Очистить
                a.dropdown__menu-active(href="#") Применить
                
