.post {
    display: flex;
    max-width: 711px;
    width: 100%;

    &__user-avatar {
        padding-right: 10px;
    }
    &__description {
        font-size: $font-size--base;
        color: $dark-shade--light;
        line-height: 24px;
    }
    &__user-name {
        font-family: $mainFont--bold;
    }
    &__text {
        padding-top: 10px;
    }
}