.sign-in {
    display: flex;
    align-items: center;
    position: relative;
    height: min-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 830px;
        height: 100%;
    }
}