.rich-checkbox-button {
    display: flex;
    flex-direction: column;
    max-width: 266px;
    width: 100%;
    height: auto;
    user-select: none;

    &__check {
        padding-left: 30px;
        padding-top: 15px;
        cursor: pointer;
        outline: none;
    }   
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);

        
    }
    &__box {
        position: absolute;
        margin-left: -30px;
        width: 18px;
        height: 18px;
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid $dark-shade--transparent;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &__input:checked + &__box {
        border-color: $purple;
        background-color: $white;
        background-image: url(../img/check.svg);
    }

    &__title {
        font-family: $mainFont;   
        font-weight: bold;
        font-size: $font-size--base;
        line-height: 18px;
        color: $dark-shade--light;
    }

    &__text {
        padding-top: 5px;
        font-size: $font-size--small;
        line-height: 14px;
        color: $dark-shade--lighten;
    }
}