mixin rich-checkbox-button({headerTitle, richCheckboxButton=[]}={})
    +header-block({title: headerTitle})
    .rich-checkbox-button    
        each item in richCheckboxButton
            label.rich-checkbox-button__check
                input.rich-checkbox-button__input(type="checkbox")
                span.rich-checkbox-button__box 
                .rich-checkbox-button__title #{item.richTitle}
                .rich-checkbox-button__text #{item.richText}