mixin subscription-text-field
    +header-block({title: 'subscription text field'})
    .subscription-text
        input.subscription-text__input(type="text" name="name" placeholder="Your email address")                
        a.subscription-text__btn(href="#")
            span.material-icons arrow_forward