mixin date-dropdown({className, text}={})
    +header-block({title: 'date-dropdown'})
    .date-dropdown(class= className)
        input.date-dropdown__input(type="text" placeholder= text)
        a.date-dropdown__link(href="#")
            span(class="material-icons") keyboard_arrow_down