.date-dropdown {

    &__input {
        max-width: 150px;
        width: 100%;
        position: relative;

        &_width {
            &_large {
                max-width: 266px;
            }
        }
        
    }
    &__link {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: $dark-shade--lighten;
        transition: 0.1s;
        cursor: pointer;
        user-select: none;
    }
}