.room-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(31, 32, 65,0.1);

    &-flex {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;

        @media (max-width: 876px) {
            flex-direction: column;
            align-items: center;
        }
        &__column {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 876px) {
                width: 70%;
            }
        }
    }

    &__photo {
        width: 100%;
        height: auto;
    }
    &__content {

    }
    &__content-container {

    }
    &__content-info {
        .header-block__title {
            font-size: $font-size--medium;
            font-family: $titleFont;
            line-height: 24px;
        }
    }
    &__content-diagram {
        .header-block__title {
            font-size: $font-size--medium;
            font-family: $titleFont;
            line-height: 24px;
        }
    }
    &__review {
        &-header {
            .header-block__title {
                font-size: $font-size--medium;
                font-family: $titleFont;
                line-height: 24px;
            }        
        }
        
        &-comment {

        }
    }

}