extends ../../layout/default.pug
block variables
    - var pageTitle = 'Room details'
    - var keywords = 'Room details Toxic'

//- include ../../ui-kit/registration/registration.pug

block content
    main.room-details
        section.room-details-grid
            .room-details-grid__item
                img(src="./img/room-details-1.jpg" alt="room details")
            .room-details-grid__item
                img(src="./img/room-details-2.jpg" alt="room details")
            .room-details-grid__item
                img(src="./img/room-details-3.jpg" alt="room details")
