extends ../../layout/default.pug
block variables
    - var pageTitle = 'Room details'
    - var keywords = 'Room details Toxic'

//- include ../../ui-kit/registration/registration.pug

block content
    