mixin room_information({ iconName='mood', titleRoom='Комфорт', textRoom='Шумопоглащающие стены', }={})
    .room_information
        .room_information__icon
            span.material-icons=iconName
        .room_information__right
            p.room_information__title=titleRoom
            p.room_information__text=textRoom

    