mixin toggle-button({ isActive=true, toggleText='Получать спецпредложения', }={})
    .toggle-button
        label.toggle-button__control
            input.toggle-button__input(type="checkbox" checked= isActive)
            span.toggle-button__box
        span.toggle-button__spec= toggleText