include ../../ui-kit/header-page/header-page.pug
include ../../ui-kit/footer/footer.pug
include ../../ui-kit/copyright-bar/copyright-bar.pug
include ../../ui-kit/selection/selection.pug

.container
    .container__inner.container__wrapper
        +header-page
    .container__inner.landing-page(style="background-image: url('./img/landing_bg.jpg')")
        .landing-page__filter
            +selection({
                titleText: 'Найдем номера под ваши пожелания',
            })
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
    .container__inner.container__wrapper
        +footer({
            text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
            elements: [
                {name: 'Навигация', list: ['О Нас', 'Новости', 'Служба поддержки', 'Услуги'], },
                {name: 'О Нас', list: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']},
                {name: 'Служба поддержки', list: ['Соглашения', 'Сообщества', 'Связь с нами']},
            ],            
            subscribeTitle: 'Подписка',
            subscribeText: 'Получайте специальные предложения и новости сервиса',

        })
    .container__inner.container__wrapper
        +copyright-bar({
            text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
        })