extends ../../layout/default.pug

include ../../ui-kit/footer/footer.pug
include ../../ui-kit/copyright-bar/copyright-bar.pug
include ../../ui-kit/selection/selection.pug

        
block content
    .container__inner.landing-page(style="background-image: url('./img/landing_bg.jpg')")
        .landing-page__filter
            +selection({
                titleText: 'Найдем номера под ваши пожелания',
            })
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения