extends ../../layout/default.pug
block variables
    - var pageTitle = 'Landing page'
    - var keywords = 'Landing page Toxic'

include ../../ui-kit/selection/selection.pug

        
block content
    .container__inner.landing-page
        .landing-page__filter
            +selection({
                titleText: 'Найдем номера под ваши пожелания',
            })
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения