include ../../ui-kit/header-page/header-page.pug
include ../../ui-kit/footer/footer.pug
include ../../ui-kit/copyright-bar/copyright-bar.pug

.container
    .container__inner.container__wrapper
        +header-page
    .container__inner
        .container__slide
            p.slider-descr Лучшие номера для вашей работы, отдыха и просто вдохновения
    .container__inner.container__wrapper
        +footer({
            text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'
        })
    .container__inner.container__wrapper
        +copyright-bar({
            text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
        })