.landing-page {
    position: relative;
    min-height: 830px;
    height: min-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

    &__filter {
        padding-top: 70px;
        padding-left: 140px;
        
        @media (max-width: 665px) {
            padding-top: 10px;
            padding-left: 10px;
            margin: auto;
        }
    }
    &__text {
        max-width: 297px;
        width: 100%;
        margin-left: auto;
        margin-right: 135px;
        margin-top: 320px;
        height: 48px;            
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size--base;
        line-height: 24px;
        text-align: right;
        color: $dark-shade--light;
    }
}