.sign-in-form {
    &__wrapper {
        padding: 40px 30px 30px 30px;
    }
    &__title {
        padding-bottom: 20px;
    }
    &__email {
        padding-bottom: 10px;
    }
    &__password {
        padding-bottom: 20px;
    }
    &__button {
        padding-bottom: 20px;
    }
    &__login {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__login-text {
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: $font-size--base;
            line-height: 18px;
            color: #000000;
        }
    }
}