mixin checkbox-list({menuList=[]}={})
    .checkbox-list
        span.checkbox-list__title expandable checkbox list
        a.checkbox-list__arrow.checkbox__arrow(href="#")
            span(class="material-icons") keyboard_arrow_down
        div.checkbox-list__menu
            each item in menuList
                label.check.check-style
                    input.check__input(type="checkbox" checked= item.check)
                    span.check__box 
                    | #{item.name}
                        
                            
