include ../material-icons/material-icons.pug

mixin checkbox-list({ menuList=[], }={})
    .checkbox-list.js-checkbox-list
        p.checkbox-list__title expandable checkbox list
        p.checkbox-list__arrow.js-checkbox-list__arrow
            +material-icons({
                type: 'keyboard_arrow_down',
                color: 'dark-shade-lighten',
                size: 'base',
            })
        div.checkbox-list__menu.js-checkbox-list__menu
            each item in menuList
                label.check.check-style
                    input.check__input(type="checkbox" checked= item.check)
                    span.check__box 
                    | #{item.name}
                        
                            
