-
    var menuList = [
        {name: 'Завтрак', check: false},
        {name: 'Письменный стол', check: true},
        {name: 'Стул для кормления', check: true},
        {name: 'Кроватка', check: true},
        {name: 'Телевизор', check: false},
        {name: 'Шампунь', check: false},
        {name: 'Телевизор', check: false},
        {name: 'Шампунь', check: false}
    ]
mixin checkbox-list
    .checkbox-list
        span.checkbox-list__title expandable checkbox list
        a.checkbox-list__arrow.checkbox__arrow(href="#")
            span(class="material-icons") keyboard_arrow_down
        div.checkbox-list__menu
            each item in menuList
                label.check.check-style
                    input.check__input(type="checkbox" checked= item.check)
                    span.check__box 
                    | #{item.name}
                        
                            
