@import "_var";

.checkbox-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 266px;
    width: 100%;
    height: 44px;
    border: 1px solid red;

    &__title {
        font-family: $mainFont--bold;
        font-size: $font-size--small;
        line-height: 15px;
        text-transform: uppercase;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: $dark-shade--lighten;
    }
    &__menu {
        display: none;
        

        &--active {
            position: absolute;
            top: 45px;
            display: flex;
            flex-direction: column;
            max-width: 222px;
            width: 100%;
            border: 1px solid green;
            
        }
            
        input[type="checkbox"]:checked + label,
        input[type="checkbox"]:not(:checked) + label {
            background-color: red;
            font-size: $font-size--base;
            line-height: 18px;
            color: $dark-shade--lighten;
        }
    }//menu
    
}//checkbox-list
