include ../logo/logo.pug
include ../nav-menu/nav-menu.pug
include ../login/login.pug

mixin header-page({ hrefLogo, elementsMenu, subelementsMenu, size, hrefLogin, hrefRegister, btnNameLogin, btnNameRegister, register, userName, })
    header.header
        .header__inner
            .header__logotype
                +logo({ hrefLogo, })
            .header__menu    
                +menu({
                    elementsMenu: elementsMenu,
                    subelementsMenu: subelementsMenu,
                    size: size,
                })
            .header__user-manage
                +login({
                    hrefLogin,
                    hrefRegister,
                    btnNameLogin,
                    btnNameRegister,
                    register,
                    userName, 
                })