include ../logo/logo.pug
include ../nav-menu/nav-menu.pug
include ../login/login.pug

mixin header-page({ elementsMenu, subelementsMenu, size, btnNameLogin, btnNameRegister, register, userName, })
    header.header
        .header__logotype
            +logo        
        .header__menu    
            +menu({
                elementsMenu: elementsMenu,
                subelementsMenu: subelementsMenu,
                size: size,
            })
        .header__user-manage
            +login({
                btnNameLogin,
                btnNameRegister,
                register,
                userName, 
            })