doctype html
html(lang='en')
  include ../includes/head.pug
  body
      include ../includes/header-ui.pug
      block content
      //- include ../ui-kit/color_type/color_type.pug
      //- include ../ui-kit/header_footer/header_footer.pug
      .container.wrapper
        include ../ui-kit/header-block/header-block.pug
        include ../ui-kit/text-field/text-field.pug
        +text-field({
          headerTitle: 'Text Field',
          headerText: 'default'
        })                
        include ../ui-kit/dropdown/dropdown.pug
        +dropdown({
          elems: ['Взрослые', 'Дети', 'Младенцы'],
          classItem: 'dropdown-number-of-guests'
        })   
        include ../ui-kit/date-default/date-default.pug
        +date-default
        include ../ui-kit/date-dropdown/date-dropdown.pug
        +date-dropdown({className: 'date-dropdown-default', text: 'ДД.ММ.ГГГГ'})
        +date-dropdown({className: 'date-dropdown-default', text: '19.08.2019'})
        +date-dropdown({className: 'filter-date-dropdown', text: '19 авг - 23 авг'})
        include ../ui-kit/subscription-text-field/subscription-text-field.pug
        +subscription-text-field
        +dropdown({
          titleText: '2 спальни, 2 кровати...',
          elems: ['Спальни', 'Кровати', 'Ванные комнаты'],
          classItem: 'dropdown-room-amenities'
        })
        include ../ui-kit/checkbox-list/checkbox-list.pug
        +checkbox-list({
          menuList: [
            {name: 'Завтрак', check: false},
            {name: 'Письменный стол', check: true},
            {name: 'Стул для кормления', check: true},
            {name: 'Кроватка', check: true},
            {name: 'Телевизор', check: false},
            {name: 'Шампунь', check: false},
            {name: 'Телевизор', check: false},
            {name: 'Шампунь', check: false},
          ],
        })
        include ../ui-kit/room-information/room-information.pug
        +room_information
        +room_information({iconName: 'location_city', titleRoom: 'Удобство', textRoom: 'Окно в каждой из спален'})
        include ../ui-kit/checkbox-buttons/checkbox-buttons.pug
        +checkbox-buttons({
          listButtons: [
            {name: 'Можно курить', check: false},
            {name: 'Можно с питомцами', check: true},
            {name: 'Можно пригласить гостей (до 10 человек)', check: true}
          ]
        })
        include ../ui-kit/radio-buttons/radio-buttons.pug
        +radio-buttons
        include ../ui-kit/toggle-button/toggle-button.pug
        +toggle-button({headerTitle: 'toggle'})
        +toggle-button({isActive: false})
        include ../ui-kit/like-button/like-button.pug
        +like-button({headerTitle: 'like button'})
        +like-button--Active
        include ../ui-kit/rate-button/rate-button.pug
        +rate-button
        include ../ui-kit/rich-checkbox-button/rich-checkbox-button.pug
        +rich-checkbox-button({
          headerTitle: 'rich-checkbox-button',
          richCheckboxButton: [
            {richTitle: 'Широкий коридор', richText: 'Ширина коридоров в номере не менее 91 см.'},
            {richTitle: 'Помощник для инвалидов', richText: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
          ]
        })
        include ../ui-kit/bullet-list/bullet-list.pug
        +bullet-list({
          headerTitle: 'bullet-list',
          bulletList: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'],
        })
        include ../ui-kit/range-slider/range-slider.pug
        +range-slider({headerTitle: 'range slider'})       
        include ../ui-kit/button/button.pug        
        +button({headerTitle: 'button', className: 'btnBackground'})
        +button({className: 'btnBorder'})
        +button
        +button({
          text: 'перейти к оплате',
          arrow: true
        })
        include ../ui-kit/pagination/pagination.pug
        +pagination({
          links: [
            {href: 'mock-address/change-me', number: 1, isActive: true },
            {href: 'mock-address/change-me', number: 2 },
            {href: 'mock-address/change-me', number: 3 },
            {href: 'mock-address/change-me', number: 15 },
          ]
        })
        include ../ui-kit/comments/comments.pug
        +comments({
          avatarSrc: './src/img/avatar.png',
          avatarAlt: 'Avatar',
          userName: 'Мурад Сарафанов',
          date: '5 дней назад',
          text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        })