block variables
  - pageTitle = 'toxic'
  - keywords = 'frontend'
  - description = 'toxic website'

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    title=pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
      include ../includes/header-ui.pug
      block content
      //- include ./form-elements/form-elements.pug  
      include ./color_type/color_type.pug

      //- mixin index_menu({menu=[]}={}) {
      //-   nav
      //-     ul.index-menu
      //-       each item in menu
      //-         li.index-menu-item
      //-           a(href= item.link) #{item.name}
      //- }
      //- +index_menu({
      //-   menu: [
      //-     {link: './color_type.html', name: 'Color & Type'},
      //-     {link: './form_elements.html', name: 'Form Elements'},
      //-     {link: './header_footer.html', name: 'Header & Footer'},
      //-   ]
      //- })
