block variables
  - pageTitle = 'toxic'
  - keywords = 'frontend, webpack, pug, scss, js'
  - description = 'toxic hotel website'

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    title=pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
      include ../includes/header-ui.pug
      block content
      
      include ../ui-kit/index-menu/index-menu.pug 
      //- include ./form-elements/form-elements.pug  
      //- include ./color_type/color_type.pug
      //- include ./header_footer/header_footer.pug
      //- include ./cards/cards.pug
      //- include ./landing-page/landing-page.pug
      h3(style='padding-left: 110px; padding-top: 30px;') ui-kit
      .ui-kit
        +index_menu({
          menu: [
            {link: './color_type.html', name: 'Color & Type'},
            {link: './form-elements.html', name: 'Form Elements'},
            {link: './header_footer.html', name: 'Header & Footer'},
            {link: './cards.html',  name: 'Cards'},
          ]
        })
        h3(style='padding-left: 60px; padding-top: 30px;') toxic pages
        .toxic-pages
          +index_menu({
            menu: [
              {link: './landing-page.html', name: 'Landing page'},
            ],
          })
