doctype html
html(lang='en')
  include ../includes/head.pug
  body
      include ../includes/header-ui.pug
      block content
      //- include ../ui-kit/color_type/color_type.pug
      //- include ../ui-kit/header_footer/header_footer.pug
      .container.wrapper
        include ../includes/block-descr.pug
        +block-descr('text field', 'default')
        include ../ui-kit/text-field/text-field.pug
        +text-field
        +block-descr('text field', 'hover/focus')
        +text-field('This is pretty awesome')
        +block-descr('dropdown', 'default')
        include ../ui-kit/dropdown/dropdown.pug
        +dropdown(people, 'dropdown-number-of-guests ')   
        +block-descr('masked text field', 'default')
        include ../ui-kit/date-default/date-default.pug
        +date-default
        +block-descr('date dropdown')
        include ../ui-kit/date-dropdown/date-dropdown.pug
        +date-dropdown('date-dropdown-default','ДД.ММ.ГГГГ')
        +block-descr('date dropdown')
        +date-dropdown('date-dropdown-default','19.08.2019')
        +block-descr('filter date dropdown')
        +date-dropdown('filter-date-dropdown','19 авг - 23 авг')
        +block-descr('subscription text field')
        include ../ui-kit/subscription-text-field/subscription-text-field.pug
        +subscription-text-field
        +block-descr('dropdown', 'default')
        +dropdown(room, 'dropdown-room-amenities')
        include ../ui-kit/checkbox-list/checkbox-list.pug
        +checkbox-list
        //- +checkbox-list('ckeckbox-list__menu--active')