doctype html
html(lang='en')
  include ../includes/head.pug
  body
      include ../includes/header-ui.pug
      block content
      //- include ../ui-kit/color_type/color_type.pug
      include ../ui-kit/header_footer/header_footer.pug