@import "_var";

.radio-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    width: 100%;

    &__family {
        padding-left: 30px;
        font-size: $font-size--base;
        line-height: 18px;
        cursor: pointer;
        outline: none;       
        
    }
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__box {
        position: absolute;
        margin-left: -30px;
        width: 18px;
        height: 18px;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid $dark-shade--transparent;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: 50% 50%;       
        
    }
    &__text {
        color: $dark-shade--lighten;
    }
    &__input:checked ~ &__text {
        color: $dark-shade--light;
    }
    &__input:checked + &__box {
        border-color: $purple;
        background-color: $white;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 10px;
            background-color: $purple;
            transform: translate(-50%, -50%);
        }
    }
}