mixin radio-buttons
    .radio-buttons
        label.radio-buttons__family
            input.radio-buttons__input(type="radio" name="family" checked)
            span.radio-buttons__box
            span.radio-buttons__text Мужчина       
        label.radio-buttons__family
            input.radio-buttons__input(type="radio" name="family")
            span.radio-buttons__box
            span.radio-buttons__text Женщина