@import "../../ui-kit/selection/selection.scss";
@import "../../ui-kit/registration/registration.scss";

.container-cards {
    max-width: 1920px;
    margin: 0 auto;

    &-flex {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;

        &__column {
            display: flex;
            flex-direction: column;
            margin-right: 40px;
        }
        &__row {
            display: flex;
            flex-direction: row;
            max-width: 380px;
            width: 100%;
            margin-bottom: 40px;
            background-color: $white;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            box-sizing: border-box;
        }
    
        .selection {            
            height: 374px;
            
        }
        .armor {
            height: 511px;
        }
        .card-first {
            height: 257px;
        }
        .registration {
            height: 646px;
        }
        .sign-in {
            height: 358px;
        }
        .card-second {
            height: 257px;
        }
    
    }
}