block variables
    - var pageTitle = 'Cards'

block content

    include ../../ui-kit/selection/selection.pug
    include ../../ui-kit/registration/registration.pug
    include ../../ui-kit/armor-form/armor-form.pug



    .container-cards
        .container-cards-flex
            .container-cards-flex__column
                .container-cards-flex__row.selection
                    +selection({
                        titleText: 'Найдем номера под ваши пожелания',
                        })
                .container-cards-flex__row.registration
                    +registration-form({
                        titleText: 'Регистрация аккаунта',
                    })
            .container-cards-flex-column
                .container-cards-flex__row.armor
                    +armor-form
                .container-cards-flex__row.sign-in
            .container-cards-flex-column
                .container-cards-flex__row.card-first
                .container-cards-flex__row.card-second