nav {

    .footer__menu {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            padding-top: 20px;

            &:first-child {
                padding-top: 21px;
            }

            &-link {
                color: $dark-shade--lighten;
                transition: font-weight 0.3s; 

                &:hover {
                    font-family: $mainFont;   
                    font-weight: bold;
                }
                
                &::before {
                    display: block;
                    content: attr(title);
                    font-family: $mainFont;   
                    font-weight: bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
        }//footer-menu__item
    }//footer-menu
}//nav
            
            