mixin footerMenu({ elementsFooter=[], href='/mock-address/change-me/', }={})
    .footer-menu
        each el in elementsFooter      
            nav.footer__nav
                .footer__nav-title #{el.name}
                ul.footer__nav-menu
                    each item in el.list
                        li.footer__nav-menu-item
                            a.footer__nav-menu-link(href=href title= item) #{item}


