.info-table {
    border-collapse: collapse;
    width: 100%;
    color: $dark-shade--light;

    &__row {
        padding-top: 10px;
        
    }
    &__cell-service {
        position: relative;
        width: 75%;
    }
    &__cell-price {
        position: relative;
        width: 25%;
        text-align: right;
    }
    &__services-text {
        padding-top: 10px;
    }
    &__additional-text {
        padding-top: 10px;
        padding-right: 20px;
    }
    &__total-discount-price {
        padding-top: 10px;
    }
    &__total-additional-price {
        padding-top: 10px;
    }
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 0;
        width: 20px;
        height: 20px;
        font-size: $font-size--small;
        line-height: 14px;
        border: 1px solid $dark-shade--lightest;
        border-radius: 50%;
        color: $dark-shade--lightest;
        cursor: pointer;
    }
    &__total-table,
    &__total-price {
        padding-top: 30px;
        font-family: $titleFont;
        font-weight: bold;
        font-style: normal;
        font-size: $font-size--medium;
        line-height: 24px;
        color: $dark-shade;
    }
    &__underline {
        position: absolute;
        bottom: 6px;
        left: 62px;
        max-width: 182px;
        width: 100%;
        height: 1px;
        border-top: 1px dotted $dark-shade--lightest;
    }
}