mixin bullet-list({headerTitle, bulletList=[]}={})
    +header-block({title: headerTitle})
    .bullet-list
        ul.bullet-list__list
            each item in bulletList
                li.bullet-list__item #{item}