.bullet-list {
    max-width: 250px;
    width: 100%;

    &__list {
        font-size: $font-size--base;
        color: $dark-shade--lighten;
        line-height: 24px;
        margin-left: 17px;
    }
    &__item {
        position: relative;
        padding: 3px 0 5px 3px;

        &::before {
            position: absolute;
            top: 10px;
            left: -15px;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $dark-shade--lightest;
        }
    }
}