@import "../../ui-kit/logo/logo.scss";
@import "../../ui-kit/login/login.scss";
@import "../../ui-kit/nav-menu/nav-menu.scss";
@import "../../ui-kit/footer/footer.scss";
@import "../../ui-kit/copyright-bar/copyright-bar.scss";
@import "../../ui-kit/footer-creative/footer-creative.scss";

.header-footer {
    max-width: 1920px;    
    margin: 0 auto;

    @media (max-width: 1440px) {
        padding-left: 140px;
        padding-right: 140px;
    }
    @media (max-width: 1250px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    &-border {
        border-top: 1px solid #E5E5E5;
    }
    &-shadow {
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    }
    &-header {
        height: 70px;

        .header-footer-inner {
            margin-top: 40px;
        }
        @media (max-width: 1160px) {
            height: auto;
        }
        
    }
    &-inner {
        max-width: 1440px;
        margin: 0 auto;
    }
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 77px auto 0;
    height: 70px;

    @media (max-width: 1160px) {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 20px;
    }

    &__logotype {
        flex-grow: 1;

        @media (max-width: 1160px) {
            flex-grow: auto;
        }
    }
}






