extends ../../layout/default-ui-kit.pug

block variables
    - pageTitle = 'Header & Footer'
    - keywords = 'frontend, webpack, pug, scss, js'
    - description = 'Header & Footer'

block content
    include ../../includes/header-ui.pug
    
    include ../../ui-kit/logo/logo.pug
    include ../../ui-kit/nav-menu/nav-menu.pug
    include ../../ui-kit/login/login.pug
    include ../../ui-kit/footer/footer.pug
    include ../../ui-kit/copyright-bar/copyright-bar.pug
    include ../../ui-kit/footer-creative/footer-creative.pug
    include ../../ui-kit/header-page/header-page.pug


    .header-footer.header-footer-header.header-footer-shadow
        .header-footer-inner
            +header-page({
                elementsMenu: [
                    { name: 'Home', href: '/mock-address/change-me/', },
                    { name: 'About Us', href: '/mock-address/change-me/', },
                    { name: 'Services', href: '/mock-address/change-me/', 'submenu': true, },
                    { name: 'Careers', href: '/mock-address/change-me/', },
                    { name: 'News', href: '/mock-address/change-me/', },
                    { name: 'Documentation', href: '/mock-address/change-me/', },
                ],
                subelementsMenu: [
                    { name: 'Occultism', href: '/mock-address/change-me/'},
                    { name: 'Necromancy', href: '/mock-address/change-me/'},
                    { name: 'Reincarnation', href: '/mock-address/change-me/'},
                ],
                size: 'submenu',
                btnNameLogin: 'Login',
                btnNameRegister: 'Register',
            })
    .header-footer.header-footer-header.header-footer-shadow
        .header-footer-inner
            +header-page({
                elementsMenu: [
                    { name: 'Home', href: '/mock-address/change-me/', },
                    { name: 'About Us', href: '/mock-address/change-me/', },
                    { name: 'Services', href: '/mock-address/change-me/', 'submenu': true, },
                    { name: 'Careers', href: '/mock-address/change-me/', },
                    { name: 'News', href: '/mock-address/change-me/', },
                    { name: 'Documentation', href: '/mock-address/change-me/', },
                ],
                subelementsMenu: [
                    { name: 'Occultism', href: '/mock-address/change-me/'},
                    { name: 'Necromancy', href: '/mock-address/change-me/'},
                    { name: 'Reincarnation', href: '/mock-address/change-me/'},
                ],
                size: 'submenu',
                register: true,
                userName: 'Cosmin Negoita',
            })
    .header-footer
        .header-footer-inner
            +footer({
                elementsFooter: [
                    {name: 'Navigation', list: ['About us', 'News', 'Support', 'Products']},
                    {name: 'About us', list: ['Who we are', 'Our team', 'Careers', 'Investors']},
                    {name: 'Support', list: ['Documentation', 'Community', 'Get in Touch']},
                ],
                text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
                subscribeTitle: 'Subscribe to our newsletter',
                subscribeText: 'Receive our latest news and promotions in your inbox!',
            })
            
    .header-footer.header-footer-header.header-footer-shadow
            
        +copyright-bar({text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'})
    .header-footer.header-footer-shadow
        .header-footer-inner     
            +footer-creative({
                text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
            })