mixin login({register=false, href='/mock-address/change-me/', userName='Cosmin Negoita'}={})
    if register
        a.user-name= userName
    else
        a.login(href=href) Login
        a.register(href=href) Register

