@import "../sass/var";
@import "../sass/fonts";
@import "../sass/mixins";
@import "../logo/logo.scss";
@import "../login/login.scss";
@import "../nav-menu/nav-menu.scss";
@import "../footer/footer.scss";
@import "../copyright-bar/copyright-bar.scss";
@import "../footer-creative/footer-creative.scss";


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 77px auto 0;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    
    &__logotype {
        flex-grow: 1;
    }
}






