.checkbox-buttons {
    display: flex;
    flex-direction: column;
    max-width: 222px;
    width: 100%;
    height: auto;

    .check {
        padding-left: 30px;
        padding-top: 15px;
        font-size: $font-size--base;
        line-height: 18px;
        color: $dark-shade--lighten;
        cursor: pointer;
        outline: none;
        
        &__input {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);

            
        }
        &__box {
            position: absolute;
            margin-left: -30px;
            width: 18px;
            height: 18px;
            overflow: hidden;
            border-radius: 4px;
            border: 1px solid $dark-shade--transparent;
            background-color: $white;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        .check__input:checked + .check__box {
            border-color: $purple;
            background-color: $white;
            background-image: url(./check.svg);
        }
        .check-style {
            display: block;
            margin-bottom: 15px;
        }           
    }   
}