mixin checkbox-buttons({ listButtons=[], }={})
    .checkbox-buttons
        each btn in listButtons
            label.check.check-style
                input.check__input(type="checkbox" checked= btn.check)
                span.check__box 
                | #{btn.name}