extends ../../layout/default-ui-kit.pug

block variables
    - var pageTitle = 'Color & Type'

block content
    include ../../includes/header-ui.pug
    include ../../ui-kit/color-block/color-block.pug
    include ../../ui-kit/text-block/text-block.pug
    
    .content-flex
        .flex-left
            .flex-left
                .flex-left__item
                    +colorBlock({className: 'dark-shade', text: 'Dark Shade 100%', hex: '#1F2041',})
                .flex-left__item  
                    +colorBlock({className: 'dark-shade-light', text: 'Dark Shade 75%', hex: '#1F2041'})       
                .flex-left__item
                    +colorBlock({className: 'dark-shade-lighten', text: 'Dark Shade 50%', hex: '#1F2041'})       
                .flex-left__item
                    +colorBlock({className: 'dark-shade-lightest', text: 'Dark Shade 25%', hex: '#1F2041'})       
                .flex-left__item
                    +colorBlock({className: 'dark-shade-white', text: 'Dark Shade 5%', hex: '#1F2041'})       
                .flex-left__item
                    +colorBlock({className: 'main-color-purple', text: 'Purple', hex: '#BC9CFF'})       
                .flex-left__item
                    +colorBlock({className: 'main-color-green', text: 'Green', hex: '#6FCF97'})        
        .flex-right
            .flex-right__item
                +text-block({
                    tag: 'h1',
                    classTag: 'title',
                    tagName: 'h1',
                    classText: 'text-large',
                    text: 'This one is the sub-section or widget title',
                })
            .flex-right__item
                +text-block({
                    tag: 'h2',
                    classTag: 'title-medium',
                    tagName: 'h2',
                    classText: 'text-medium',
                    text: 'Next one is the item title inside widgets',
                })
            .flex-right__item
                +text-block({
                    tag: 'h3',
                    classTag: 'title-small',
                    tagName: 'h3',
                    classText: 'text-small',
                    text: 'This is a label or CTA text',
                })
            .flex-right__item
                +text-block({
                    tag: 'span',
                    classTag: 'title-body',
                    tagName: 'Body',
                    classText: 'text-body',
                    text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
                })
