@import "../../ui-kit/text-block/text-block.scss";

.search-room {
    width: 100%;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    &__inner {
        max-width: 1160px;
        display: grid;
        grid-template-columns: 326px auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'side-bar header' 'side-bar elements' 'side-bar pagination';
        width: min-content;
        padding-top: 30px;

        @media (min-width: 550px) and (max-width: 1160px) {
            grid-template-columns: 280px min-content;
        }
        
        @media (max-width: 550px) {
        display: grid;
        grid-template-columns: 266px;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 'side-bar' 'side-bar' 'side-bar' 'header' 'elements' 'pagination';
        justify-content: center;
        }
    }

    &__side-bar {
        grid-area: side-bar;
    }
    &__form {
        max-width: 266px;
    }
    &__filter-date-container {
        
    }
    &__dropdown-container {
        margin-top: 20px;
    }
    &__range-slider-container {
        margin-top: 20px;
    }
    &__range-slider-description {
        font-size: $font-size--small;
        line-height: 14px;
        color: $dark-shade--lighten;
    }
    &__checkbox-buttons-container {
        margin-top: 30px;
    }
    &__rich-checkbox-button-container {
        margin-top: 30px;
    }
    &__dropdown-comfort-container {
        margin-top: 30px;
    }
    &__checkbox-list-container {
        margin-top: 30px;
    }
    // ROOMS
    &__title {
        grid-area: header;
    }

    &__elements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-area: elements;
        grid-column-gap: 12px;
        grid-row-gap: 21px;
        padding-top: 21px;

        @media (max-width: 1112px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            justify-items: center;
        }

        @media (max-width: 834px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
    &__pagination {
        grid-area: pagination;
        justify-self: center;
        margin-top: 40px;
        margin-bottom: 70px;
        
    }

}