mixin rate-button({rating = 5,}={})
    - let n = 0;
    .rate-button
        .rate-button__group
            while n < 5
                input.rate-button__star(type="radio" name="star" value=n+=1 checked=rating-1===n)
            .rate-button__focus