mixin rate-button
    .rate-button
        .rate-button__group
            input.rate-button__star(type="radio" name="star" checked)
            input.rate-button__star(type="radio" name="star" checked)
            input.rate-button__star(type="radio" name="star" checked)
            input.rate-button__star(type="radio" name="star" checked)
            input.rate-button__star(type="radio" name="star")
            .rate-button__focus
