mixin like-button({ isChecked=false, count=2, icon='favorite_border', }={})
    if count < 0
        - count = 0

    .like-button.js-like-button(data-stage= `${isChecked}`)
        .like-button__heart.js-like-button__heart
            +material-icons({
                type: icon,
                size: 'small',
            })
        span.like-button__count.js-like-button__count= count      