mixin like-button
    .like-button
        .like-button__heart
            <svg class="heart-border">
                <use xlink:href="../src/img/sprite.svg#favorite_border" x="5" y="6"></use>
            </svg>
            <svg class="heart">
                <use xlink:href="../src/img/sprite.svg#favorite" x="5" y="6"></use>
            </svg>
        .like-button__count 2
           