.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 18px;
    margin: 5px;
    font-size: 10px;   
    border: 1px solid $dark-shade--lightest;
    border-radius: 10px; 
    color: $dark-shade--lightest;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
    
    // &__active {
    //     border-color: $purple;
    //     color: $purple;
    // }

    &:hover {
        border-color: $purple;
        color: $purple;
    }

    &__heart {   
        padding-right: 8px;
        .material-icons {
            font-size: 10px;
            vertical-align: middle;
        }
                
    }
    &__count {
        // line-height: 12px;      
    }          
    
}
.js-like-button__active {
    border-color: $purple;
    color: $purple;
}