.room-preview {
    position: relative;
    max-width: 270px;
    width: 100%;
    min-height: 257px;
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;

    &__slider {
        &-item {
            border-radius: 4px 4px 0 0;
        }
    }

    &__inner {
        padding: 20px 17px 20px 20px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    &__order {   
        .order-No,
        .order-id {
            font-family: $titleFont;
            font-weight: bold;
            font-style: normal;
            font-size: $font-size--base;
            line-height: 17px;
            color: $dark-shade;
        }
        .order-id {
            font-size: $font-size--big;
            line-height: 20px;
        }
        .order-luxury {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: $font-size--small;
            line-height: 15px;
            text-transform: uppercase;
            color: $purple;
        }
    }
    &__price-in-day {
        .price-in-day-number,
        .in-day {
            font-family: $mainFont;
            font-weight: bold;
            font-style: normal;
            font-size: $font-size--base;
            line-height: 18px;
            color: $dark-shade--lighten;
        }
        .in-day {
            font-weight: normal;
        }
    }
    &__rating {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reviews-text {
            display: block;
            color: $dark-shade--lighten;

            .reviews-number {
                font-weight: bold;
            }
        }
    }

    .slick-slider {

        .slick-slide {
            height: 100%;

            > div {
                margin-bottom: -4px;
            }
        }

        &.slick-dotted {
            margin: 0;
        }

        .slick-dots {
            bottom: 10px;
            right: 0;
            padding: 0 18px 12px 0;
            text-align: right;
        }

        .slick-dots li {
            width: auto;
            height: auto;
            margin-right: 5px;

            button {
                height: 0;
                width: 0;
                padding: 0;
                margin: 0;
            }

            button::before {
                content: '';
                width: 7px;
                height: 7px;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 50%;
                opacity: 1;
                z-index: 2;
            }

            &.slick-active {
        
                button::before {
                    background: #FFF;
                }
            }
        }

        .slick-arrow {
    
            &::before {
                font-family: 'Material Icons';
                font-size: 24px;
                opacity: 1;
            }
        }

        .slick-next {
            right: 10px;
            z-index: 2;
        
            &::before {
                content: 'keyboard_arrow_right'
            }
        }

        .slick-prev {
            left: 10px;
            z-index: 2;
        
            &::before {
                content: 'keyboard_arrow_left'
            }
        }
        

        .slick-list {
        
            .slick-loading & {
                background: none;
            }
        }
    }
}