include ../logo/logo.pug
include ../footer-menu/footer-menu.pug
include ../subscription-text-field/subscription-text-field.pug


mixin footer({text, elements, subscribeTitle, subscribeText, }={})
    footer.footer
        .footer-flex
            .footer-flex__col
                +logo
                .footer__text 
                    div= text
            +footerMenu({
                elements: elements,
            })
            .footer-flex__col
                .footer__title= subscribeTitle
                .footer__text= subscribeText                    
                form.footer__form(action="" method="get")
                    +subscription-text-field({type: 'email', name: 'subscribe-email', placeholder: 'Email',})