@import "../../ui-kit/logo/logo.scss";
@import "../../ui-kit/footer-menu/footer-menu.scss";

.footer {    
    min-height: 372px;
    margin: 0 auto;
    padding-top: 100px; 
    @media (max-width: 1250px) {
        // display: none;
    }
    @media (max-width: 690px) {
        // display: none;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: $font-size--base;
        padding-bottom: 100px;

        &__logo {
            max-width: 260px;
        }
        &__menu {
            max-width: 640px;
        }
        &__subscribe {
            max-width: 260px;
        }
        &__col {
            width: 100%;
            height: auto;
            
            .footer__form {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px auto;

                &-input {
                    width: 100%;
                    padding: 12px 0 8px 15px;
                    font-size: $font-size--base;
                    line-height: 24px;
                    color: $dark-shade--lightest;
                    background: $white;
                    border: 1px solid $dark-shade--lightest;
                    box-sizing: border-box;
                    border-radius: 4px;
                }

                &-btn {
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 44px;
                    height: 44px;     
                    font-size: $font-size--big;
                    line-height: 24px;      
                    text-align: center;   
                    color: $purple;                
                }
            }
        }
    }   
    .footer__text {
        padding-top: 21px;
        line-height: 24px;
        color: $dark-shade--light;
    }
    &__title {        
        font-family: $mainFont;
        font-weight: bold;
        font-size: $font-size--small;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-shade;
    }
}