include ../logo/logo.pug
include ../footer-menu/footer-menu.pug
include ../subscription-text-field/subscription-text-field.pug


mixin footer({text, }={})
    footer.footer
        .footer-flex
            .footer-flex__col
                +logo
                .footer__text 
                    div= text
            +footerMenu({
                elements: [
                    {name: 'Navigation', list: ['About Us', 'News', 'Support', 'Products']},
                    {name: 'About us', list: ['Who we are', 'Our team', 'Careers', 'Investors']},
                    {name: 'Support', list: ['Documentation', 'Community', 'Get in Touch']},
                ]
            })
            .footer-flex__col
                .footer__title Subscribe to our newsletter
                .footer__text
                    |Receive our latest news and promotions in your inbox!
                form.footer__form(action="" method="get")
                    +subscription-text-field({type: 'email', name: 'subscribe-email', placeholder: 'Your email address',})