@import "_var";

.footer {    
    height: auto;
    margin: 77px auto 0;
    padding-top: 100px; 

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: $font-size--base;
        padding-bottom: 100px;

        &__col {
            max-width: 260px;            
            height: auto;

            .footer__text {
                padding-top: 21px;
                line-height: 24px;
                color: $dark-shade--light;
            }
            .footer__title {
                font-family: $mainFont--bold;
                font-size: $font-size--small;
                line-height: 15px;
                text-transform: uppercase;
                color: $dark-shade;
            }
            nav {

                .footer__menu {
                    display: flex;
                    justify-content: flex-start;
                    align-content: flex-start;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    &-item {
                        padding-top: 20px;

                        &:first-child {
                            padding-top: 21px;
                        }

                        &-link {
                            color: $dark-shade--lighten;
                            transition: 0.3s linear; 

                            &:hover {
                                font-family: $mainFont--bold;
                            }
                            &::before {
                                display: block;
                                content: attr(title);
                                font-family: $mainFont--bold;
                                height: 0;
                                overflow: hidden;
                                visibility: hidden;
                            }
                        }
                    }//footer-menu__item
                }//footer-menu
            }//nav
            
            .footer__form {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px auto;

                &-input {
                    width: 100%;
                    padding: 12px 0 8px 15px;
                    font-size: $font-size--base;
                    line-height: 24px;
                    color: $dark-shade--lightest;
                    background: $white;
                    border: 1px solid $dark-shade--lightest;
                    box-sizing: border-box;
                    border-radius: 4px;
                }

                &-btn {
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 44px;
                    height: 44px;     
                    font-size: $font-size--big;
                    line-height: 24px;      
                    text-align: center;   
                    color: $purple;                
                }
            }
        }//footer-flex__col
    }    
}//footer