@import "../ui-kit/header-page/header-page.scss";

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;

    @media (max-width: 1440px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__inner {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__wrapper {
        padding-left: 140px;
        padding-right: 140px;

        @media (max-width: 1160px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__border {
        border-top: 1px solid #E5E5E5;
    }

}