.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    width: 100%;    
    padding-bottom: 5px;
    line-height: 15px;
    text-transform: uppercase;  

    &__title {
        font-family: $mainFont;   
        font-weight: bold;
        color: $dark-shade;
        font-size: $font-size--small;        
    }
    &__text {
        font-family: $mainFont;
        font-size: $font-size--small;  
        color: $dark-shade--lighten;
    }
    &__small {
        max-width: 150px;
    }
}