mixin header-block({ tag='h3', title, text, headerWidth, }={})
    - let headerModifier = ''
    case headerWidth
        when 'small'
            - headerModifier = 'header-block__small'
    .header-block(class= `${headerModifier}`)
        #{tag}.header-block__title #{title}
        if(text) 
            p.header-block__text #{text}
