mixin button({className, address='/mock-address/change-me'}={})
    -   let btnClass   
    .button-link    
        case className
            when 'btnBackground'
                - btnClass = className
            when 'btnBorder'
                - btnClass = className
            when 'btnDefault'
                - btnClass = 'btnDefault'
        
        a.button-link__elem(class=className href=address) click me

        
