.header__logotype {
    width: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logotype {
        width: 48px;
        height: 48px;        
        margin-top: 6px;
    }
    .logotype-name {
        width: 54px;
        margin-top: 4px;
    }
}