nav {
    @media (max-width: 1160px) {
        padding-top: 10px;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        align-items: center;

        @media (max-width: 1100px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        @media (max-width: 690px) {
            justify-content: flex-start;
            align-items: start;
        }
        @media (max-width: 510px) {
            flex-direction: column;
        }
        &__item {          
            position: relative;
            margin: 0 10px; 
        
        .item-submenu {
            margin-right: 10px;
        }
            &-link {
                display: block;
                font-size: $font-size--base;          
                line-height: 17px;
                color: $dark-shade--lighten;
                text-decoration: none;
                transition: font-weight 0.3s;

                &:hover {
                    font-family: $mainFont;   
                    font-weight: bold;                   
                }
                
                .material-icons {
                    position: absolute;
                    top: -3px;
                    transition: all 0.2s;
                }

                &::before {
                    display: block;
                    content: attr(title);
                    font-family: $mainFont;   
                    font-weight: bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }

                &:hover .material-icons {
                    transform: rotateZ(-180deg) translateX(2px) translateY(3px);
                }
            }
            
            &:hover > .submenu {
                display: flex;
            }

            .submenu {
                position: absolute;
                top: 15px;
                left: -20px;
                display: none;
                justify-content: center;
                flex-direction: column;
                max-width: 150px;
                margin: 0;
                padding: 0;
                background-color: $white;
                z-index: 99;
                border-radius: 3px;
                
                &__item {
                    padding: 10px 18px;
                    
                    &:first-child {
                        padding-top: 18px;
                    }

                    &-link {
                        @extend .menu__item-link;
                    }

                }
            }            
        }
    }    
}