@import "_var";
@import "fonts";

.header__menu {
    .menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;

        &__item {          
            position: relative;
            padding: 0 15px;

            &-link {
                display: block;
                font-size: $font-size--base;          
                line-height: 17px;
                color: $dark-shade--lighten;
                text-decoration: none;
                transition: font-weight .3s;                  

                &:hover {
                    font-family: $mainFont;   
                    font-weight: bold;                   
                }
                
                .material-icons {
                    position: absolute;
                    top: -3px;
                    transition: all 0.1s linear;
                }
                &::before {
                    display: block;
                    content: attr(title);
                    font-family: $mainFont;   
                    font-weight: bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }//menu__item-link     
            .active {
                font-family: $mainFont;   
                font-weight: bold;
            } 
            .submenu {
                position: absolute;
                top: 15px;
                left: -5px;
                display: none;
                justify-content: center;
                flex-direction: column;
                width: 150px;
                margin: 0;
                padding: 0;
                background-color: $white;
                
                &__item {
                    padding: 10px 0 10px 20px;
                    &:first-child {
                        padding-top: 35px;
                    }
                    &-link {
                        @extend .menu__item-link;
                    }
                }
            }
            &:nth-child(4) {
                margin-left: 20px;
            }
            
            &:nth-child(3):hover {
                .submenu {
                    display: flex;
                }
                .material-icons {
                    transform: rotateZ(-180deg);
                }
            }
        }//menu__item
    }//menu
}