@import "_var";
@import "fonts";

.header__menu {

    .menu {
        display: flex;
        justify-content: center;
        list-style: none;
        align-items: center;

        &__item {
            padding: 0 15px;

            &-link {
                position: relative;
                display: block;
                font-family: $mainFont;
                font-size: $font-size--base;
                line-height: 17px;
                color: $dark-shade--lightest;
                text-decoration: none;                
                transition: 0.2s linear;   

                &:hover {
                    font-weight: bold;
                    color: $dark-shade--lighten;
                }

                .material-icons {
                    position: absolute;
                    top: -3px;
                }
            }            
            
            &:nth-child(4) {
                margin-left: 20px;
            }
        }
    }
}